{% assign sorted_pages2 = site.pages %}

{% assign sorted_pages = "" | split: ""  %}
{% for item in sorted_pages2 %}
    {% if item.type == "page" %}
        {% assign sorted_pages = sorted_pages | push: item %}
    {% endif %}
{% endfor %}

{% for item in sorted_pages %}
    {% if item.url == page.url %}
        {% assign this_i = forloop.index0 %}
        {% assign num_of_pages = sorted_pages | size %}
        {% assign last_i = num_of_pages | minus: 1 %}
        {% assign next_i = this_i | plus: 1 %}
        {% assign prev_i = this_i | minus: 1 %}
    {% endif %}
{% endfor %}

<div class="flex f-row project-footer">
    <div>
        {% if prev_i >= 0 %}
            <a href="{{ sorted_pages[prev_i].url }}">
                👈 <span>Previous</span>
            </a>
        {% else %}
            <!-- No previous page -->
        {% endif %}
    </div>
    <div>
        <a href="/data-visualization-guidelines/">
            🏠 <span>Home</span>
        </a>
    </div>
    <div>
        {% if next_i < num_of_pages %}
            <a href="{{ sorted_pages[next_i].url }}">
                <span>Next</span> 👉
            </a>
        {% else %}
            <!-- No next page -->
        {% endif %}
    </div>
</div>
