{% assign current_page_url = page.url %}
{% assign sorted_pages = site.pages | where: "type", "page" | sort: "url" %}

{% assign current_page_index = -1 %}
{% for page in sorted_pages %}
    {% if page.url == current_page_url %}
        {% assign current_page_index = forloop.index0 %}
    {% endif %}
{% endfor %}

<div class="flex f-row project-footer">
    <div>
        {% if current_page_index > 0 %}
            <a href="{{ sorted_pages[current_page_index - 1].url }}">
                👈 <span>Previous</span>
            </a>
        {% else %}
            <span>No previous page</span>
        {% endif %}
    </div>
    <div>
        <a href="/data-visualization-guidelines/">
            🏠 <span>Home</span>
        </a>
    </div>
    <div>
        {% if current_page_index < sorted_pages.size | minus: 1 %}
            <a href="{{ sorted_pages[current_page_index | plus: 1].url }}">
                <span>Next</span> 👉
            </a>
        {% else %}
            <span>No next page</span>
        {% endif %}
    </div>
</div>